name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ci:
    name: ESLint, TypeScript, and Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: ESLint
        run: npm --workspace package/better-mui-menu run lint
      - name: TypeScript check
        run: npm --workspace package/better-mui-menu run tsc
      - name: Run tests with coverage
        run: npm --workspace package/better-mui-menu run test:coverage
      - name: Upload coverage to Codecov
        if: always()
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/lcov.info
          root_dir: ./package/better-mui-menu
          disable_search: true
          flags: better-mui-menu
          name: better-mui-menu
          fail_ci_if_error: false
